@model IEnumerable<ClassDemo.Models.Role>
@{
    ViewBag.Title = "RoleView";
}

<h2>Role</h2>
<div>
    @using (Html.BeginForm("RoleView", "Role"))
    {
        <table>
            <tr>
                <td>Role &nbsp;</td>
                <td>@Html.TextBox("UserRole", null, new { @class = "form-control" })</td>
                <td><input type="submit" value="Add" class="btn-success" /></td>
            </tr>
        </table>
        <br />
    }
</div>


<div style="width:400px;">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Role </th>
                    <th>Actions</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.RoleId)</td>
                    <td>@Html.DisplayFor(modelItem => item.UserRole)</td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.RoleId }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.RoleId })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>



